
{
  "rules": {
    "at-rule-name-space-after": "always",
    "at-rule-semicolon-newline-after": "always",
    "block-no-empty": true,
    "block-opening-brace-space-before": "always",
    "color-hex-case": "lower",
    "color-no-invalid-hex": true,
    "comment-no-empty": true,
    "comment-whitespace-inside": "always",
    "declaration-block-no-duplicate-properties": [true, {"ignore": ["consecutive-duplicates"]}],
    "declaration-block-trailing-semicolon": "always",
    "declaration-colon-space-after": "always",
    "declaration-no-important": true,
    "function-name-case": "lower",
    "function-parentheses-newline-inside": "never-multi-line",
    "keyframe-declaration-no-important": true,
    "length-zero-no-unit": true,
    "media-feature-colon-space-after": "always",
    "media-feature-parentheses-space-inside": "never",
    "media-query-list-comma-space-after": "always",
    "no-duplicate-selectors": true,
    "no-eol-whitespace": true,
    "no-extra-semicolons": true,
    "no-unknown-animations": true,
    "number-leading-zero": "never",
    "property-case": "lower",
    "selector-list-comma-newline-after": "always",
    "selector-list-comma-space-after": "never-single-line",
    "selector-list-comma-space-before": "never",
    "selector-max-empty-lines": 0,
    "selector-max-specificity": "1,3,1",
    "selector-pseudo-element-colon-notation": "single",
    "string-no-newline": true,
    "string-quotes": "double",
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true
  }
}
